// FLEX
@mixin flex($direction, $wrap, $justify-content, $align-items) {
  display: flex;
  flex-flow: $direction $wrap;
  justify-content: $justify-content;
  align-items: $align-items;
}

// Object Fit
@mixin objectFit($object-fit, $object-position: center, $height: 100%, $width: 100%) {
  object-fit: $object-fit;
  object-position: $object-position;
  height: $height;
  width: $width;
}

// Pseudo element
@mixin pseudo($content: "") {
  content: $content;
  position: absolute;
  height: 100%;
  display: block;
}

@mixin verticalCenter() {
  top: 50%;
  transform: translateY(-50%);
}

@mixin horizontalCenter() {
  left: 50%;
  transform: translateX(-50%);
}

@mixin withIcon($icon, $position: 'right') {
  position: relative;
  padding-#{$position}: rem(23);
  &::before {
    content: url($icon);
    position: absolute;
    #{$position}: 0;
    display: inline-block;
    transition: $default-transition;
  }
}

@mixin borderAccent($position: 'top-right', $size: 34) {
  @extend %rounded;

  border-#{$position}-radius: $size;
}

@mixin menuInline() {
  @include undoListStyles();
  @include flex(row, wrap, flex-start, center);
}

@function clamp-calc($size-at-min-width, $size-at-max-width) {
  $min-width: $mobileXs;
  $max-width: $container;
  $slope: ($size-at-max-width - $size-at-min-width) / ($max-width - $min-width);
  $y-axis-intersection: -1 * $min-width * $slope + $size-at-min-width;
  $return-value: clamp(#{$size-at-min-width}, #{$y-axis-intersection} + #{$slope} * 100vw, #{$size-at-max-width});
  @return $return-value;
}


@mixin scrollBarStyle() {
  padding-right: 40px !important;

  &::-webkit-scrollbar {
    width: 2px;
    border-radius: 40px;
  }

  &::-webkit-scrollbar-track {
    background: color(grey-500);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 40px;
    background: color(dark);
    width: 5px;
  }
}

@mixin undoListStyles() {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin lessThan($point) {
  @if $point == desktop {
    @media screen and (max-width: 1200px) { @content; }
  }
  @else if $point == laptop {
    @media screen and (max-width: 992px) { @content; }
  }
  @else if $point == tablet {
    @media screen and (max-width: 768px) { @content; }
  }
  @else if $point == mobileonly {
    @media screen and (max-width: 576px)  { @content; }
  }
  @else {
    @media screen and (max-width: $point) { @content; }
  }
}

@mixin moreThan($point) {
  @if $point == desktop {
    @media screen and (min-width: 1200px) { @content; }
  }
  @else if $point == laptop {
    @media screen and (min-width: 992px) { @content; }
  }
  @else if $point == tablet {
    @media screen and (min-width: 768px) { @content; }
  }
  @else if $point == mobileonly {
    @media screen and (min-width: 576px)  { @content; }
  }
  @else {
    @media screen and (min-width: $point) { @content; }
  }
}

// Vendor prefixes
$sass-burger-add-vendor-prefixes: true !default;

// Burger
@mixin burger($width: 30px, $height: 5px, $gutter: 3px, $color: #000, $border-radius: 0, $transition-duration: 0.3s) {
  $burger-height: $height !global;
  $burger-gutter: $gutter !global;

  position: relative;
  margin-top: $height + $gutter;
  margin-bottom: $height + $gutter;

  @if $sass-burger-add-vendor-prefixes {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  user-select: none;

  // 1. Fixes jagged edges in Firefox, see issue #10.
  &,
  &::before,
  &::after {
    display: block;
    width: $width;
    height: $height;
    background-color: $color;
    outline: 1px solid transparent; // 1

    @if $border-radius != 0 {
      border-radius: $border-radius;
    }

    @if $sass-burger-add-vendor-prefixes {
      -webkit-transition-property: background-color, -webkit-transform;
      -moz-transition-property: background-color, -moz-transform;
      -o-transition-property: background-color, -o-transform;
    }

    transition-property: background-color, transform;

    @if $sass-burger-add-vendor-prefixes {
      -webkit-transition-duration: $transition-duration;
      -moz-transition-duration: $transition-duration;
      -o-transition-duration: $transition-duration;
    }

    transition-duration: $transition-duration;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
  }

  &::before {
    top: -($height + $gutter);
  }

  &::after {
    top: $height + $gutter;
  }
}

// Select parts of the burger
@mixin burger-parts {
  &,
  &::before,
  &::after {
    @content;
  }
}

@mixin burger-top {
  &::before {
    @content;
  }
}

@mixin burger-middle {
  & {
    @content;
  }
}

@mixin burger-bottom {
  &::after {
    @content;
  }
}

// Burger animations
@mixin burger-to-cross($color: auto) {
  & {
    background-color: transparent;
  }

  @if ($color != auto) {
    &::before,
    &::after {
      background-color: $color;
    }
  }

  &::before {
    @if $sass-burger-add-vendor-prefixes {
      -webkit-transform: translateY($burger-gutter + $burger-height) rotate(45deg);
      -moz-transform: translateY($burger-gutter + $burger-height) rotate(45deg);
      -ms-transform: translateY($burger-gutter + $burger-height) rotate(45deg);
      -o-transform: translateY($burger-gutter + $burger-height) rotate(45deg);
    }

    transform: translateY($burger-gutter + $burger-height) rotate(45deg);
  }

  &::after {
    @if $sass-burger-add-vendor-prefixes {
      -webkit-transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg);
      -moz-transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg);
      -ms-transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg);
      -o-transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg);
    }

    transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg);
  }
}

@function pt-to-px-unit($size-in-points){
  @return #{ round($size-in-points * 1.333333) };
}

@function pt-to-px($size-in-points){
  @return #{ pt-to-px-unit($size-in-points) }px;
}

@function stripUnit($value) {
  @return $value / ($value * 0 + 1);
}

@function pt-to-rem($pxValue) {
  @return rem(pt-to-px-unit($pxValue));
}

@function rem($pxValue) {
  @return #{stripUnit($pxValue) / stripUnit($html-font-size)}rem;
}

@function color($color-name, $opacity: 1) {
  @return rgba(var(#{$prefix-color}#{$color-name}--rgb), $opacity);
}

@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

@function contrast-color($color, $dark, $light) {
  @return if(lightness($color) < $threshold, $light, $dark)
}

@mixin grid($columns: 12, $gutter: 20) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-gap: #{$gutter}px;
}

@mixin gridMd($columns: 12, $gutter: 20px) {
  @include lessThan($tablet) {
    grid-template-columns: repeat($columns, 1fr);
    grid-gap: #{$gutter}px;
  }
}

@mixin gridSm($columns: 12, $gutter: 20px) {
  @include lessThan($mobile) {
    grid-template-columns: repeat($columns, 1fr);
    grid-gap: #{$gutter}px;
  }
}

@mixin gridXs($columns: 12, $gutter: 20px) {
  @include lessThan($mobileXs) {
    grid-template-columns: repeat($columns, 1fr);
    grid-gap: #{$gutter}px;
  }
}

@mixin responsiveFlexWidth($columnsXL: 12, $columnsMD: 6, $columnsSM: 3, $columnXS: 1, $gutter: 20) {
  flex: 0 0 calc( (100% / #{$columnsXL}) - #{$gutter}px);

  @include lessThan($tablet) {
    flex: 0 0 calc( (100% / #{$columnsMD}) - #{$gutter}px);
  }

  @include lessThan($mobile) {
    flex: 0 0 calc( (100% / #{$columnsSM}) - #{$gutter}px);
  }

  @include lessThan($mobileXs) {
    flex: 0 0 calc( (100% / #{$columnXS}) - #{$gutter}px);
  }
}

