/** FONTS **/
$font-family: "PP NeueMontreal", sans-serif;
$font-family-title: "Helvetica Neue", sans-serif;
$font-italic: "Nohemi", sans-serif;
$html-font-size: 16px;
$line-height: 24px;

$padding-inline-start: 66;
$padding-inline-end: 54;

/** RESPONSIVE **/
$header-height: 40px;
$header-height-mb: 10px;
$laptop: 1440px;
$tablet: 1025px;
$mobile: 768px;
$mobileXs: 480px;

/** CONTAINER **/
$container: 1310px;
$container-sm: 1094px;
$container-archive: 1096px;
$container-lg: 1400px;
$container-md: 1010px;

$cubic-transition: cubic-bezier(.32, .94, .6, 1);

$default-transition: all .3s $cubic-transition;
$default-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);


$threshold: 55%;

$assets-path: '/app/themes/akyos-sage/resources/assets';
