.c-articles {

  @include grid(2, 20);
  @include gridMd(2, 20);
  @include gridSm(2, 20);
  @include gridXs(1, 20);

  padding-top: rem(56);
  grid-row-gap: rem(86);

  .c-post {
    margin-bottom: rem(40);

    &-content-header {
      max-width: rem(522);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
